<div  style="border-style:none;">
    <h2 style="text-align: center;margin-top:2px;margin-bottom:80px;color:brown;text-shadow:2px 3px 3px rgba(251, 3, 3, 0.724);">CONTACT DETAILS</h2>
    <div class="row" >
        <!--1st col-->
        <div class="col col-lg-4" *ngFor="let c of cont">
          <div class="card col-lg-12">
              <div class="card-body col-lg-12" style="background-color:rgb(211, 244, 243);border-radius: 18px;">
                  <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:5px;padding:6px;">
                      <div class="card col-lg-4" >
                          <!--Property binding-->
                          <img [src]="c.img" style="width:100px;height:200px">
  
                      </div>
                      <div class="card col-lg-8">
                          <!--Interpolation bindin-->
                          <div style="color:red;font-size: 18px;">
                              {{c.cname | uppercase}}
                            <div class="description" style="color:darkblue;font-size: 18px;">
                              {{c.cdescription}}
                              <br>
                              {{c.caddress }}
                              <br>
                              {{c.cphone}}
                              <br>
                            </div>
                              
                              
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
<!--2st col-->
        <div class="col col-lg-4">
           
        </div>
<!--3rd col-->
    <div class="col col-lg-4">
    </div>   

    </div>
     <button routerLink="feedback" style="background-color:rgb(126, 190, 246);border-radius:10px;width: 200px;height: 50px;margin-left: 50%;">Feedback</button>
</div>
